
//## New Custom Colors.

$blue: 					#0093E0 !default; 	//To be used for light blue color	 
$blue-100:      		lighten($blue, 40%) !default; //  
$blue-200:        		lighten($blue, 30%) !default; //  
$blue-300:       		lighten($blue, 20%) !default; //  
$blue-400:     			lighten($blue, 10%) !default; //  
$blue-500:     			$blue !default; // #0093E0
$blue-600:        		darken($blue, 5%) !default; //
$blue-700:        		darken($blue, 10%) !default; //  
$blue-800:        		darken($blue, 15%) !default; //  
$blue-900:        		darken($blue, 20%) !default; //   	 

$bluegray:				#3d4957	!default;	//To be used for blue grey color	 
$bluegray-100:      	lighten($bluegray, 40%) !default; //  
$bluegray-200:        	lighten($bluegray, 30%) !default; //  
$bluegray-300:       	lighten($bluegray, 20%) !default; //  
$bluegray-400:     		lighten($bluegray, 10%) !default; //  
$bluegray-500:     		$bluegray !default; // #3d4957
$bluegray-600:        	darken($bluegray, 5%) !default; //
$bluegray-700:        	darken($bluegray, 10%) !default; //  
$bluegray-800:        	darken($bluegray, 15%) !default; //  
$bluegray-900:        	darken($bluegray, 20%) !default; //

$orange:				#f38a00 !default; 	//To be used for orange color
$orange-100:      		lighten($orange, 40%) !default; //  
$orange-200:        	lighten($orange, 30%) !default; //  
$orange-300:       		lighten($orange, 20%) !default; //  
$orange-400:     		lighten($orange, 10%) !default; //  
$orange-500:     		$orange !default; // #3d4957
$orange-600:        	darken($orange, 5%) !default; //
$orange-700:        	darken($orange, 10%) !default; //  
$orange-800:        	darken($orange, 15%) !default; //  
$orange-900:        	darken($orange, 20%) !default; //

$gray:					#5E5E60	!default;	//To be used for grey color	 
$gray-100:      		lighten($gray, 40%) !default; //  
$gray-200:        		lighten($gray, 30%) !default;   //  
$gray-300:       		lighten($gray, 20%) !default; //  
$gray-400:     			lighten($gray, 10%) !default; // 
$gray-500:     			$gray !default;	// 
$gray-600:     			darken($gray, 5%) !default; //
$gray-700:     			darken($gray, 10%) !default; // 
$gray-800:     			darken($gray, 15%) !default; // 
$gray-900:     			darken($gray, 20%) !default; //  

$indigo: 				#2C00C3 !default; 	//To be used for indigo color
$indigo-100:      		lighten($indigo, 40%) !default; //  
$indigo-200:        	lighten($indigo, 30%) !default;   //  
$indigo-300:       		lighten($indigo, 20%) !default; //  
$indigo-400:     		lighten($indigo, 10%) !default; // 
$indigo-500:     		$indigo	!default;	// 
$indigo-600:     		darken($indigo, 5%) !default; //
$indigo-700:     		darken($indigo, 10%) !default; // 
$indigo-800:     		darken($indigo, 15%) !default; // 
$indigo-900:     		darken($indigo, 20%) !default; //  	 
	 
$green:					#71B723 !default; 	//To be used for green color
$green-100:      		lighten($green, 40%) !default; //  
$green-200:        		lighten($green, 30%) !default;   //  
$green-300:       		lighten($green, 20%) !default; //  
$green-400:     		lighten($green, 10%) !default; // 
$green-500:     		$green !default;	// 
$green-600:     		darken($green, 5%) !default; //
$green-700:     		darken($green, 10%) !default; // 
$green-800:     		darken($green, 15%) !default; // 
$green-900:     		darken($green, 20%) !default; // 	 

$yellow:				#ffff00 !default; 	//To be used for yellow color
$yellow-100:      		lighten($yellow, 40%) !default; //  
$yellow-200:        	lighten($yellow, 30%) !default; //  
$yellow-300:       		lighten($yellow, 20%) !default; //  
$yellow-400:     		lighten($yellow, 10%) !default; // 
$yellow-500:     		$yellow	!default;	// 
$yellow-600:     		darken($yellow, 5%)  !default; //
$yellow-700:     		darken($yellow, 10%) !default; // 
$yellow-800:     		darken($yellow, 15%) !default; // 
$yellow-900:     		darken($yellow, 20%) !default; // 	 
	 
$red:					#E21550 !default; 	//To be used for red color
$red-100:      			lighten($red, 40%) !default; //  
$red-200:        		lighten($red, 30%) !default; //  
$red-300:       		lighten($red, 20%) !default; //  
$red-400:     			lighten($red, 10%) !default; // 
$red-500:     			$red	!default;	// 
$red-600:     			darken($red, 5%)  !default; //
$red-700:     			darken($red, 10%) !default; // 
$red-800:     			darken($red, 15%) !default; // 
$red-900:     			darken($red, 20%) !default; // 

$teal:					#0DC99F !default; 	//To be used for teal color
$teal-100:      		lighten($teal, 40%) !default; //  
$teal-200:        		lighten($teal, 30%) !default; //  
$teal-300:       		lighten($teal, 20%) !default; //  
$teal-400:     			lighten($teal, 10%) !default; // 
$teal-500:     			$teal	!default;	// 
$teal-600:     			darken($teal, 5%)  !default; //
$teal-700:     			darken($teal, 10%) !default; // 
$teal-800:     			darken($teal, 15%) !default; // 
$teal-900:     			darken($teal, 20%) !default; // 

//For text on dark backgrounds
$light:					#fff 	!default; 	//To be used for white color
$light:              	rgba(255,255,255, 100) !default; //Primary text
$light-secondary:       rgba(255,255,255, 0.70) !default; //Secondary text
$light-muted:           rgba(255,255,255, 0.50) !default; //Disabled text, hint text, and icons
$light-border:          rgba(255,255,255, 0.12) !default; //For dividers and borders

.light {
	color: $light;
}

//For text on light backgrounds
$dark-base:				#000 !default; //
$dark:              	lighten($dark-base, 13%) !default; //Primary text
$dark-secondary:        lighten($dark-base, 46%) !default; //Secondary text
$dark-muted:            lighten($dark-base, 62%) !default; //Disabled text, hint text, and icons
$dark-border:           lighten($dark-base, 88%) !default; //For dividers and borders

.dark {
	color: $dark;
}

.bg--blue {

      background-color: $blue;

	  &.blue--100 { 
    	background-color: $blue-100;
	  }
	  &.blue--200 { 
	    background-color: $blue-200;
	  }
	  &.blue--300 { 
	    background-color: $blue-300;
	  }
	  &.blue--400 { 
	    background-color: $blue-400;
	  }
	  &.blue--500 { 
	    background-color: $blue-500;
	  }
	  &.blue--600 { 
	    background-color: $blue-600;
	  }
	  &.blue--700 { 
	    background-color: $blue-700;
	  }
	  &.blue--800 { 
	    background-color: $blue-800;
	  }
	  &.blue--900 { 
	    background-color: $blue-900;
	}

}

.bg--bluegray {

      background-color: $bluegray;

	  &.bluegray--100 { 
    	background-color: $bluegray-100;
	  }
	  &.bluegray--200 { 
	    background-color: $bluegray-200;
	  }
	  &.bluegray--300 { 
	    background-color: $bluegray-300;
	  }
	  &.bluegray--400 { 
	    background-color: $bluegray-400;
	  }
	  &.bluegray--500 { 
	    background-color: $bluegray-500;
	  }
	  &.bluegray--600 { 
	    background-color: $bluegray-600;
	  }
	  &.bluegray--700 { 
	    background-color: $bluegray-700;
	  }
	  &.bluegray--800 { 
	    background-color: $bluegray-800;
	  }
	  &.bluegray--900 { 
	    background-color: $bluegray-900;
	}

}

.bg--orange {

      background-color: $orange;

	  &.orange--100 { 
    	background-color: $orange-100;
	  }
	  &.orange--200 { 
	    background-color: $orange-200;
	  }
	  &.orange--300 { 
	    background-color: $orange-300;
	  }
	  &.orange--400 { 
	    background-color: $orange-400;
	  }
	  &.orange--500 { 
	    background-color: $orange-500;
	  }
	  &.orange--600 { 
	    background-color: $orange-600;
	  }
	  &.orange--700 { 
	    background-color: $orange-700;
	  }
	  &.orange--800 { 
	    background-color: $orange-800;
	  }
	  &.orange--900 { 
	    background-color: $orange-900;
	}

}

.bg--gray {

      background-color: $gray;

	  &.gray--100 { 
    	background-color: $gray-100;
	  }
	  &.gray--200 { 
	    background-color: $gray-200;
	  }
	  &.gray--300 { 
	    background-color: $gray-300;
	  }
	  &.gray--400 { 
	    background-color: $gray-400;
	  }
	  &.gray--500 { 
	    background-color: $gray-500;
	  }
	  &.gray--600 { 
	    background-color: $gray-600;
	  }
	  &.gray--700 { 
	    background-color: $gray-700;
	  }
	  &.gray--800 { 
	    background-color: $gray-800;
	  }
	  &.gray--900 { 
	    background-color: $gray-900;
	}

}

.bg--indigo {

      background-color: $indigo;

	  &.indigo--100 { 
    	background-color: $indigo-100;
	  }
	  &.indigo--200 { 
	    background-color: $indigo-200;
	  }
	  &.indigo--300 { 
	    background-color: $indigo-300;
	  }
	  &.indigo--400 { 
	    background-color: $indigo-400;
	  }
	  &.indigo--500 { 
	    background-color: $indigo-500;
	  }
	  &.indigo--600 { 
	    background-color: $indigo-600;
	  }
	  &.indigo--700 { 
	    background-color: $indigo-700;
	  }
	  &.indigo--800 { 
	    background-color: $indigo-800;
	  }
	  &.indigo--900 { 
	    background-color: $indigo-900;
	}

}

.bg--green {

      background-color: $green;

	  &.green--100 { 
    	background-color: $green-100;
	  }
	  &.green--200 { 
	    background-color: $green-200;
	  }
	  &.green--300 { 
	    background-color: $green-300;
	  }
	  &.green--400 { 
	    background-color: $green-400;
	  }
	  &.green--500 { 
	    background-color: $green-500;
	  }
	  &.green--600 { 
	    background-color: $green-600;
	  }
	  &.green--700 { 
	    background-color: $green-700;
	  }
	  &.green--800 { 
	    background-color: $green-800;
	  }
	  &.green--900 { 
	    background-color: $green-900;
	}

}

.bg--yellow {

      background-color: $yellow;

	  &.yellow--100 { 
    	background-color: $yellow-100;
	  }
	  &.yellow--200 { 
	    background-color: $yellow-200;
	  }
	  &.yellow--300 { 
	    background-color: $yellow-300;
	  }
	  &.yellow--400 { 
	    background-color: $yellow-400;
	  }
	  &.yellow--500 { 
	    background-color: $yellow-500;
	  }
	  &.yellow--600 { 
	    background-color: $yellow-600;
	  }
	  &.yellow--700 { 
	    background-color: $yellow-700;
	  }
	  &.yellow--800 { 
	    background-color: $yellow-800;
	  }
	  &.yellow--900 { 
	    background-color: $yellow-900;
	}

}

.bg--red {

      background-color: $red;

	  &.red--100 { 
    	background-color: $red-100;
	  }
	  &.red--200 { 
	    background-color: $red-200;
	  }
	  &.red--300 { 
	    background-color: $red-300;
	  }
	  &.red--400 { 
	    background-color: $red-400;
	  }
	  &.red--500 { 
	    background-color: $red-500;
	  }
	  &.red--600 { 
	    background-color: $red-600;
	  }
	  &.red--700 { 
	    background-color: $red-700;
	  }
	  &.red--800 { 
	    background-color: $red-800;
	  }
	  &.red--900 { 
	    background-color: $red-900;
	}

}

.bg--teal {

      background-color: $teal;

	  &.teal--100 { 
    	background-color: $teal-100;
	  }
	  &.teal--200 { 
	    background-color: $teal-200;
	  }
	  &.teal--300 { 
	    background-color: $teal-300;
	  }
	  &.teal--400 { 
	    background-color: $teal-400;
	  }
	  &.teal--500 { 
	    background-color: $teal-500;
	  }
	  &.teal--600 { 
	    background-color: $teal-600;
	  }
	  &.teal--700 { 
	    background-color: $teal-700;
	  }
	  &.teal--800 { 
	    background-color: $teal-800;
	  }
	  &.teal--900 { 
	    background-color: $teal-900;
	}

}