
.lead {
  font-size: 21px;
  line-height: 1.72;
  margin-bottom: 20px;
}

.subheading {
  display: block;
}

h1, .display--1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
}

h2, .display--2 {
  font-size: 3.0rem;
  line-height: 1.12;
  font-weight: 400;
}

h3, .headline {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.24;
}

h4, .title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.34;
}

h5, .subheading {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.44;
}

h6, .caption {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .125em;
  line-height: 1.54;
}

h2.display--3, .display--3 {
  font-size: 4.2rem !important;
  font-weight: 400;
  line-height: 1;
}

h1.display--4, .display--4 {
  font-size: 5.8rem !important;
  font-weight: 300;
  line-height: 1;
}

.btn {
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
 
}

.btn.rounded {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

.input-group {
  margin-bottom: 10px !important;
}

.form-control {
   -webkit-box-shadow: none; // iOS <4.3 & Android <4.1
          box-shadow: none;
}

.navbar-brand {
    padding: 4px 15px;
    font-size: 18px;
    line-height: 40px;
    height: 50px;
}

.navbar-brand img{
  height: 40px;
  width: 40px;
}

.active {
  font-weight: 700 !important;
}

.icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin: 0 5px;
    line-height: 22px;
    text-align: center;
    // border: 1px dotted;
    overflow: hidden;
}

.accordion .panel-heading {
    position: relative;
}

.accordion [class^=mif-] {
    right: 15px;
    position: absolute;
    top: 14px;
}

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: inherit;
    width: 100%;
    display: inline-block;
}

.carousel-control [class^=mif-] {
  top: 50%;
  position: absolute;
  margin-top: -1.75rem;
}

.sidebar {

  .sidebar-nav {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
  }

  a.list-group-item, button.list-group-item {
    color: $light-secondary;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid $light-border;
    border-left: 0;
    border-right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  .list-group-item.active {
    color: $light;
  }

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-border;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $brand-accent;
}

input:focus + .slider {
  box-shadow: 0 0 1px $brand-accent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}





